@page
@model Tasker.Pages.IndexModel
@{
    <h1>All Tasks</h1>

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Description</td>
                <td>Priority</td>
            </tr>
        </thead>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Priority</td>
            </tr>
        }
    </table>
}
